/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s ease;
  }

  a:hover {
    color: #fff;
  }

  h1 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #c6c6c6;
    font-weight: 400;
    margin-top: 15px;
  }

  ul {
    list-style: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
